body {
    padding:0;
    margin:0;
    font-family: Helvetica;
    background-color: #e0e0e0;
    text-align: center;
}

#calculator {
	background-color: #29293a;
	width: 370px;
	height: 440px;
	margin: 10px auto;
	padding: 5px;
	border-radius: 10px;
}

#calculator button {
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    background-color: #d6d6d6;
}

#operators {
    float: right;
    width: 60px;
    padding-right: 35px;
    background-color: #29293a;
}

#operators button {
    width: 70px;
    height: 42px;
    font-size: 30px;
    margin: 6px 6px;
    background-color: #fa9242;
    text-align: center;
    border: 0px;
}

#numbers {
    float: left;
    width: 270px;
    padding-left: 5px;
    background-color: #29293a;
}

#numbers button {
    width: 70px;
    height: 80px;
    font-size: 45px;
    margin: 5px;
    text-align: center;
    border: 0px solid;
}

#total {
    height: 70px;
    width: 360px;
    background-color: #29293a;
    text-align: right;
    font-size: 60px;
    color: #d6d6d6;

}
